<!-- C:\Users\User\AppData\LocalLow\Endnight\SonsOfTheForest\Saves -->

<div fxLayout="row" fxLayoutGap="1rem">
  <div *ngFor="let file of files" fxLayout="column" fxLayoutAlign="center center" (click)="download(file.name)">
    <mat-icon *ngIf="Object.keys(file.data).length !== 0">task</mat-icon>
    <mat-icon *ngIf="Object.keys(file.data).length === 0">file_open</mat-icon>
    {{file.name}}
  </div>

  <button mat-icon-button color="primary" aria-label="Open File" (click)="fileInput.click()">
    <mat-icon>folder_open</mat-icon>
  </button>
  <mat-spinner *ngIf="fileloading"></mat-spinner>
  <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" accept="application/json" multiple>
</div>

<div fxLayout="row" fxLayoutGap="1rem">
  <div fxLayout="column" fxLayoutGap="1rem" *ngIf="gameStateSaveData?.data.Data && saveData?.data.Data">
    <h3>Kelvin</h3>

    <button *ngIf="gameStateSaveData?.data.Data.GameState.IsRobbyDead" mat-flat-button color="primary"
      aria-label="Revive Kelvin" (click)="reviveKelvin()">
      Revive Kelvin
    </button>

    <button *ngIf="!gameStateSaveData?.data.Data.GameState.IsRobbyDead" mat-flat-button color="primary"
      aria-label="Kill Kelvin" (click)="killKelvin()">
      Kill Kelvin
    </button>

    <div *ngIf="kelvin" fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout="column">
        <b>Affection ({{kelvin.Stats.Affection | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="kelvin.Stats.Affection">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Anger ({{kelvin.Stats.Anger | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="kelvin.Stats.Anger">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Energy ({{kelvin.Stats.Energy | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="kelvin.Stats.Energy">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Fear ({{kelvin.Stats.Fear | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="kelvin.Stats.Fear">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Fullness ({{kelvin.Stats.Fullness | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="kelvin.Stats.Fullness">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Health ({{kelvin.Stats.Health | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="kelvin.Stats.Health">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Hydration ({{kelvin.Stats.Hydration | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="kelvin.Stats.Hydration">
        </mat-slider>
      </div>

    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="1rem" *ngIf="gameStateSaveData?.data.Data && saveData?.data.Data">
    <h3>Virginia</h3>

    <button *ngIf="gameStateSaveData?.data.Data.GameState.IsVirginiaDead" mat-flat-button color="primary"
      aria-label="Revive Virginia" (click)="reviveVirginia()">
      Revive Virginia
    </button>

    <button *ngIf="!gameStateSaveData?.data.Data.GameState.IsVirginiaDead" mat-flat-button color="primary"
      aria-label="Kill Virginia" (click)="killVirginia()">
      Kill Virginia
    </button>

    <div *ngIf="virginia" fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout="column">
        <b>Affection ({{virginia.Stats.Affection | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="virginia.Stats.Affection">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Anger ({{virginia.Stats.Anger | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="virginia.Stats.Anger">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Energy ({{virginia.Stats.Energy | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="virginia.Stats.Energy">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Fear ({{virginia.Stats.Fear | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="virginia.Stats.Fear">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Fullness ({{virginia.Stats.Fullness | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="virginia.Stats.Fullness">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Health ({{virginia.Stats.Health | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="virginia.Stats.Health">
        </mat-slider>
      </div>

      <div fxLayout="column">
        <b>Hydration ({{virginia.Stats.Hydration | number:'1.0-0'}})</b>
        <mat-slider min="0" max="100" step="1" discrete>
          <input matSliderThumb [(ngModel)]="virginia.Stats.Hydration">
        </mat-slider>
      </div>

    </div>
  </div>
</div>